<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Domain</th>
      <th>Content</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.domain %></td>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <% if current_user==post.user || current_user.staff? %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>



edit

<div class="profile">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-6 col-sm-12">
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>
</div>
</div>
</div>


<div class="post">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-6 col-sm-9"
<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

</div>
</div>
</div>
</div>