<% provide(:title, "Log in") %>
<div class="log">
<div class="signup">
	<div class="container">
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end -%>
		<div class="form">
         <div class="row">
                
         <div class="col-md-6 col-xs-6 col-sm-6">
      <p class="text-center"> Join <span class="glyphicon glyphicon-plus"></span></p><br>
      <p class="text-center">to centralized repository and easily manage the student files.</p><br>
			<%= form_for(:session, url: login_path) do |f| %> 
  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 
  <%= f.submit "Log in", class: "btn-submit" %>
<% end %>
       <br>
	    <%= link_to ' Or signup here' ,new_user_path , class:'active' %>
	</div>
	</div>		
    </div>
	</div>
</div>
</div>
