<h1>The files</h1>
 <table class="table table-hover">
 	<thead>
 		<tr>
 			<th>Name</th>
 			<th>Info</th>
 			<th colspan="2"></th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<td> <%= @attach.name %></td>
 			<td><%= link_to "Download file", @attach.attachment_url, class:'btn btn-success' %></td>
 		</tr>
 		<tr>
 			<td> <%= @attach.name1 %></td>
 			<td><%= link_to "Download file", @attach.attachment1_url, class:'btn btn-success' %></td>
 		</tr>
 		<tr>
 			<td> <%= @attach.name2 %></td>
 			<td><%= link_to "Download file", @attach.attachment2_url, class:'btn btn-success' %></td>
 		</tr>
 		<tr>
 			<td> <%= @attach.name3 %></td>
 			<td><%= link_to "Download file", @attach.attachment3_url, class:'btn btn-success' %></td>
 		</tr>
 	</tbody>
 </table>
  
   