<% provide(:title, "Profile") %>
<% if @attach.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @attach.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
     
   </div>
  <% end %>
<div class = "file">
   <%= form_for @attach, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <br>
      <%= f.label :name1 %>
      <%= f.text_field :name1 %>
      <br>
      <%= f.label :attachment1 %>
      <%= f.file_field :attachment1 %>
      <br>
      <%= f.label :name2 %>
      <%= f.text_field :name2 %>
      <br>
      <%= f.label :attachment2 %>
      <%= f.file_field :attachment2 %>
      <br>
      <%= f.label :name3 %>
      <%= f.text_field :name3 %>
      <br>
      <%= f.label :attachment3 %>
      <%= f.file_field :attachment3 %>
      <br>
      <%= f.submit "Save", class: "btn btn-primary" %>
   
   <% end %>

</div>