<% provide(:title, "profile") %>
<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-6 col-sm-6">
        
      <%= render 'form' , attach: @attach  %>

      </div>
    </div>
  </div>
</div>