<%= will_paginate @users %>
<div class="profile">
<h1>The files</h1>
  <%=@attaches.each do |attach| %>
  <%= attach.name %><br>
  <%= link_to "Download file", attach.attachment_url %> 		
  <%  end -%>
 </div>
 <%= will_paginate @users %>
