<% provide(:title, "profile") %>
<div class="files">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-6 col-sm-12">

<% if current_user && current_user.student? %>

 <%= render @attach %>
 <p>&nbsp;</p>
 <%= link_to 'Edit' , edit_attach_path(@attach) , class:'btn btn-warning' %>
 <p>&nbsp;</p>
 <%= render 'form', attach: @attach %><br>

   

<% elsif current_user && current_user.staff? %>
  <u><h4><strong>Files</strong></h4></u>
  <%= render @attach %>

     <p>&nbsp;</p>
	 <p>&nbsp;</p>
 <% end %>
</div>
</div>
</div>
</div>