/* line 1, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, C:/Sites/myrails/try/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 
 .log .signup > p{
   font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
 }

 .nav .li >a
 {
   color: red;
 }
 .pagination
 {
 .previous_page
   { 
    background:#7777ff; 
    color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}
.form .danger
{
  color: red;
}
p
 {
line-height: 10px;
}
.table
{
  font-size: 24px;
}
.uindex{
  padding-top: 50px;
  padding-left: 300px;

 }
 .post{
  position: absolute;
  top:150px;
  left:500px;
}
 .profile{
  position: absolute;
  top:200px;
  left:300px;
}
.comments{
  position: absolute;
  top:550px;
  
}

.files{
  position: absolute;
  top:150px;
  left:500px;
}


.form1{
	position: absolute;
	top:150px;
	left:500px;
}
.signup{
	position: absolute;
	top:150px;
	left:450px;
  }
.login{
  position: absolute;
  top:150px;
  left:500px;
    }

.cpost{
  position: absolute;
  top:100px;
  left:490px;
}
.attach{
  position: absolute;
  top:250px;
  left:500px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea
 {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 15px;
}
textarea
{
  height: 100% !important;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.cpost .btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: black;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.form .glyphicon-user
{
	font-size: 24px;
	color: red;
}
.form .glyphicon-lock
{
	font-size: 24px;
	color: red;
	
}

.content{
  font-size: 30px;
  font-style: italic;
}
.active{
	color:#FFFFFF;
	font-size: 32px;
}
p{
	font-size:15px;
	margin:5px 0
}


.nav {
    
   font-size: 20px;
   
}

a{
  text-decoration: none;
}

.form1 .glyphicon

{
	font-size: 24px;
	color:black;
}
.partial .glyphicon
{
  font-size: 24px;
  color:black;
}
.attach .glyphicon{
  font-size:24px;
  color:red;
}
ul li{
  list-style: none;
  display: inline-block;
}

.navbar-inverse {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-inverse .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-inverse .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-inverse .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  color: #222222;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-inverse .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .navbar-header .navbar-brand:hover,
  .navbar-inverse .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-inverse .nav > li > a,
  .navbar-right .nav > li > a,
  .navbar-inverse .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .nav > li > a:hover,
  .navbar-right .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-inverse.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-inverse.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-inverse.affix .navbar-header .navbar-brand:hover,
  .navbar-inverse.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-inverse.affix .nav > li > a,
  .navbar-inverse.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-inverse.affix .nav > li > a:hover,
  .navbar-inverse.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
  .navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-inverse .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-inverse .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  color: #222222;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-inverse .navbar-header .navbar-right {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .navbar-header .navbar-right:hover,
  .navbar-inverse .navbar-header .navbar-right:focus {
    color: white;
  }
  .navbar-inverse .nav > li > a,
  .navbar-right .nav > li > a,
  .navbar-inverse .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-right .nav > li > a
  {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;

  }
  .navbar-inverse .nav > li > a:hover,
  .navbar-right .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-inverse.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-inverse.affix .navbar-header .navbar-right {
    color: #222222;
  }
  .navbar-inverse.affix .navbar-header .navbar-right:hover,
  .navbar-inverse.affix .navbar-header .navbar-right:focus {
    color: #fdcc52;
  }
  .navbar-inverse.affix .nav > li > a,
  .navbar-inverse.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-inverse.affix .nav > li > a:hover,
  .navbar-inverse.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }

.btn:hover
{
  color: blue;
}
