 <p>
  <strong>User:</strong>
  <%= @post.user.name %>
  <nav class="nav pull-right">
  	<%= status_converter(@post.user.status, truthy: 'validated', falsey: 'not-validate') %><br>
  </nav>
</p>
<% if current_user && current_user.staff? %> 
<p>
	<%= build_read_status_link user%>
</p> 
<%  end -%>