<% provide(:title, "users") %>
<div class="uindex">
<div class="row">
<div class="container">
<div class="col-md-9 col-xs-9 col-sm-12">
<div class="nav navbar-nav">
<br><br>

<p id="notice"><%= notice %></p>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td width="25%"><%=link_to user.name , '#' ,class:'navbar-header' %></td>
        <td width="25%"><%=link_to user.role, '#' ,class:'navbar-header' %></td>
        <td width="50%"><%=link_to user.email, '#' ,class:'navbar-header' %></td>
        <td>
        <% if current_user && current_user.staff? %> 
    
          <%= link_to  "+ Add", '#' ,class: "btn btn-success pull-right join-button" %> 
        </td>
   		<% end %>
      </tr>
    <% end %>
 </tbody>
 </table>


 </div>
 </div>
 </div>
 </div>

<%= will_paginate @users %>