<% provide(:title, "sign up") %>
<div class="signup">
<div class="row">
<div class="container">
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end -%>
<div class="col-md-6 col-xs-6 col-sm-12">
 <%= form_for @user, url:{action: "create" } do |f| %>
       
       <p class="danger">*choose unique user name</p>
      <%= f.text_field :name , placeholder:'name' %>
      
       <%= f.select :role, options_for_select([['student', 'student'], ['staff', 'staff'], ['admin', 'admin']] , selected: :role ) %>
       <p class="danger">*choose unique email</p>
       <%= f.email_field :email,placeholder:'Email' %>

       <p class="danger">*password minimum length six</p>
       <%= f.password_field :password, placeholder:'password' %>

      <%= f.submit "create", :class => "btn" %>
  <% end %> 
  </div>
  </div>
  </div>
  </div>  