=begin
<%= form_for @user, {:url=>usergroup_path(@user), method: :post do |f| %>
<%= f.hidden_field :user_id, :value=>current_user.id %>
<%= f.hidden_field :group_id, :value=>group.id %>
<%= submit_tag "+Join", :class => "btn btn-primary pull-right join-button" %>
<% end %>
=end