<% provide(:title, "Posts") %>
<div class="profile">
<div class="container">
<div class="row">
<div class="col-md-9 col-sm-12 col-xs-9">

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Domain</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.domain %></td>
        <td><%= truncate(post.content,:length=>20) %>
        </td>
       <td> 
       <td> <%= link_to 'Show', post , class:'btn btn-success' %></td>
       <% if current_user == post.user && current_user.staff? %>
        <%= link_to 'Show', post , class:'btn btn-success' %></td>
        
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger'%></td>
      
         
        
         <% elsif current_user == post.user && current_user.student? %>
        <td><%= link_to 'Edit', edit_post_path(post), class:'btn btn-warning' %></td>
         <% end %>
      </tr>
    <% end %>
   
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path,class:'btn btn-info' %>

</div>
</div>
</div>


<%= will_paginate @posts %>

<br><br>


</div>