
<div class="profile_new">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-6">

<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

</div>
</div>
</div>
</div>