<% provide(:title, "Profile") %>
<div class="profile">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-6">

<p id="notice"><%= notice %></p>



<p  style=<%=status_weight(@post) %>>
  <strong>User:</strong>
  <%= @post.user.name %>
  
  <%= status_converter(@post.status, truthy: 'validated', falsey: 'not-validated') %><br><br>
  
  <% if current_user.staff? %>
  <%= build_read_status_link @post %>
  <%  end -%>
</p>
<hr>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<hr>


<p>
  <strong>Domain:</strong>
  <%= @post.domain %>
</p>
<hr>


<p class="text-justify" >
   <div class="container">
   <div class="col-md-6">
   <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Toggle here to read the content +</button>
 <div id="demo" class="collapse"> 
   <%= @post.content %><br><br>
  </div>
</div>
</div>
  </p>
<hr>


<% if current_user==@post.user || current_user.staff? %>
<p>
  
  <%= link_to 'view_files' , attach_url %>
</p>
<hr>

<%= link_to 'Edit', edit_post_path(@post) %> 
<u><h4><strong>Comments</strong></h4></u>
<%= render @post.comments %>
<%  end -%>
<%= link_to 'Back', posts_path %>
 <p>&nbsp;</p>
<p>&nbsp;</p>
<% if current_user && current_user.staff? %>
<u><h5><strong>Add a comment:</strong></h5></u>
<%= render 'comments/form' %>
 <p>&nbsp;</p>
<% end %>
</div>
</div>
</div>
</div>