/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
 .log .signup > p{
   font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
 }
.file
{
  left:450px;
}
 .nav .li >a
 {
   color: red;
 }
 .pagination
 {
 .previous_page
   { 
    background:#7777ff; 
    color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}
.form .danger
{
  color: red;
}
p
 {
line-height: 10px;
}
.table
{
  font-size: 24px;
}
.uindex{
  padding-top: 50px;
  padding-left: 300px;

 }
 .post{
  position: absolute;
  top:150px;
  left:500px;
}
 .profile{
  position: absolute;
  top:200px;
  left:300px;
}
.profile_cnew{
  position: absolute;
  top:200px;
  left:500px;
}
.comments{
  position: absolute;
  top:550px;
  
}

.files{
  position: absolute;
  top:150px;
  left:500px;
}


.form1{
	position: absolute;
	top:150px;
	left:500px;
}
.signup{
	position: absolute;
	top:150px;
	left:450px;
  }
.login{
  position: absolute;
  top:150px;
  left:500px;
    }

.cpost{
  position: absolute;
  top:100px;
  left:490px;
}
.attach{
  position: absolute;
  top:250px;
  left:500px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea
 {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 15px;
}
textarea
{
  height: 100% !important;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.cpost .btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: black;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.form .glyphicon-user
{
	font-size: 24px;
	color: red;
}
.form .glyphicon-lock
{
	font-size: 24px;
	color: red;
	
}

.content{
  font-size: 30px;
  font-style: italic;
}
.active{
	color:#FFFFFF;
	font-size: 32px;
}
p{
	font-size:15px;
	margin:5px 0
}


.nav {
    
   font-size: 20px;
   
}

a{
  text-decoration: none;
}

.form1 .glyphicon

{
	font-size: 24px;
	color:black;
}
.partial .glyphicon
{
  font-size: 24px;
  color:black;
}
.attach .glyphicon{
  font-size:24px;
  color:red;
}
ul li{
  list-style: none;
  display: inline-block;
}

.navbar-inverse {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-inverse .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-inverse .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-inverse .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  color: #222222;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-inverse .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .navbar-header .navbar-brand:hover,
  .navbar-inverse .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-inverse .nav > li > a,
  .navbar-right .nav > li > a,
  .navbar-inverse .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .nav > li > a:hover,
  .navbar-right .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-inverse.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-inverse.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-inverse.affix .navbar-header .navbar-brand:hover,
  .navbar-inverse.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-inverse.affix .nav > li > a,
  .navbar-inverse.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-inverse.affix .nav > li > a:hover,
  .navbar-inverse.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
  .navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-inverse .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-inverse .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  color: #222222;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-inverse .navbar-header .navbar-right {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-inverse .navbar-header .navbar-right:hover,
  .navbar-inverse .navbar-header .navbar-right:focus {
    color: white;
  }
  .navbar-inverse .nav > li > a,
  .navbar-right .nav > li > a,
  .navbar-inverse .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-right .nav > li > a
  {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;

  }
  .navbar-inverse .nav > li > a:hover,
  .navbar-right .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-inverse.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-inverse.affix .navbar-header .navbar-right {
    color: #222222;
  }
  .navbar-inverse.affix .navbar-header .navbar-right:hover,
  .navbar-inverse.affix .navbar-header .navbar-right:focus {
    color: #fdcc52;
  }
  .navbar-inverse.affix .nav > li > a,
  .navbar-inverse.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-inverse.affix .nav > li > a:hover,
  .navbar-inverse.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }

.btn:hover
{
  color: blue;
}
