<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
    
    </style>
   <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
      
  </head>

  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
        <div class="navbar-header">
         
          <% if current_user && current_user.staff? %> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>

           <%= link_to 'Centralize System' ,root_url , class:"navbar-brand active" %>

        </div>

        <div class="collapse navbar-collapse" id="ex">
        <ul class="nav navbar-nav navbar-right">
        <%= link_to 'post_index', posts_path %>
        <%= link_to 'group_index', groups_index_path %>
        <%= link_to 'users_index', users_path %>
           <br>
           <div class="dropdown">
           <br>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> 
            <%= current_user.email %>
            <span class="caret"></span></button>
            <section class="dropdown-menu">
            <%= link_to 'create_group', groups_new_path %>
            <%= link_to 'log out', logout_path %>
             </section>
            </div>        
        </ul>
        </div>
    
    <% elsif current_user && current_user.student? %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
           <%= link_to 'Centralize System' ,root_url , class:"navbar-brand"  %>
        </div>

        <div class="collapse navbar-collapse" id="ex">
        <ul class="nav navbar-nav navbar-right">
        <br>
        <%= link_to 'users_index', users_path  %>
        <%= link_to 'posts' , posts_path   %>
        <div class="dropdown">
        <br>
        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" > 

       My profile
       <span class="caret"></span></button>
       <section class="dropdown-menu">
       <%= link_to current_user.email, current_user %><br>
       <%= link_to 'Attach_files',  new_attach_path %><br>
       <%= link_to 'Create_post',  new_post_path%><br>
       <%= link_to 'Attach_files' , new_attach_path %><br>
       <%= link_to 'log out', logout_path %>
       </section>
       </div>
       
       </ul>
       </div>
        
    <% elsif current_user %>
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
           <%= link_to 'Centralize System' ,root_url , class:"navbar-brand", class:"active" %>
        </div>
         <div class="collapse navbar-collapse" id="ex">
        <ul class="nav navbar-nav pull-right">
       <%= link_to 'post_index', user_posts_path %>
       <%= link_to 'users_index', users_path %>
       <%= link_to 'log out',logout_path%>
       <%= current_user.email %>
     </ul>
     </div>

    <% else %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
           <%= link_to 'Centralize System' ,root_url , class:"navbar-brand" %>
        </div>
       <div class="collapse navbar-collapse" id="ex">
        <ul class="nav navbar-nav navbar-right">
        <br>
       <%= link_to 'log in', login_path  %>
       <%= link_to 'sign up', new_user_path %>
     <% end %>
     </ul>
     </div>
</nav>
</div>

    <br/>
    <br/>

    <div class="myprofile">
    <% if current_user && current_user.student? %>
    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" > 
        My profile
       <span class="caret"></span></button>
       <section class="dropdown-menu">
       <%= link_to current_user.email, current_user %><br>
       <%= link_to 'Attach_files',  new_attach_path %><br>
       <%= link_to 'Create_post',  new_post_path%><br>
       <%= link_to 'Attach_files' , new_attach_path %><br>
       <%= link_to 'log out', logout_path %>

    <% end %>

    </section>
    </div>
    <%= yield %>
  </body>
</html>
